.bellapage7{
    color: #38678B;
    text-align: center;
}
.bella7{
    background-color: black;
    width: auto;
    text-align: center;
}
.bellapage6{
    color: #38678B;
    text-align: center;
}
.bella6{
    background-color: black;
    width: auto;
    text-align: center;
}
.bellapage5{
    color: #38678B;
    text-align: center;
}
.bella5{
    background-color: black;
    width: auto;
    text-align: center;
}
.bella4{
    background-color: black;
    width: auto;
    text-align: center;
}
.bellapage4{
    color: #38678B;
    text-align: center;
}
.bellapage3{
    color: #38678B;
    text-align: center;
}

.bella3{
    background-color: black;
    width: auto;
    text-align: center;
}
.fotoedbella{
    text-align: center;
}
.edwardpg2{
    color: #38678B;
    text-align: center;
}
.bellapage2{
    color: #38678B;
    text-align: center;
}

.bella2{
    background-color: black;
    width: auto;
    text-align: center;
}
.edward{
    background-color: black;
    width: auto;
    text-align: center;
   
}
.descricaoedward{
    color: #38678B;
    text-align: center;
}
.descricaobella{
    color: #38678B;
    text-align: center;
}
.bella{

        background-color: black;
        width: auto;
        text-align: center;
  }

.body{
    background-color:  #000000;
}
.container{
  background-color: black;
  width: auto;
  text-align: center;
}
.nav{
    background-color: black;
}
.nav-item{
    color: #38678B;
    padding: auto;
    font-weight: bold;
    text-decoration: none;
}
.div{
    background-color: #000000;
}
